[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rbedrock"]
	path = rbedrock
	url = https://github.com/reedacartwright/rbedrock
	shallow = true
	registered = true
